<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome!</h2>
  <p>
    We hope you find exactly what you're looking for in a place to
  </p>
  {{#link-to 'about' class='button'}}
    About Us
  {{/link-to}}
</div>

{{#each model as |rentalUnit|}}
{{rental-listing rental=rentalUnit}}
{{/each}}